[Unit]
Description=FRP to bypass NAT Network
Wants=network-online.target
After=network.target

[Service]
Type=simple
TimeoutStartSec=30
ExecStart=/usr/local/bin/frpc -c /etc/frpc.ini
ExecStop=/bin/kill $MAINPID
Restart=on-failure
RestartSec=30

[Install]
WantedBy = multi-user.target